.section--primary
  .container
    %h1= title("#{@party.name} - #{t('.title', current: t('current').capitalize, member_plural: t('member_plural'))}")

    = render partial: 'pugin/components/letter-navigation', locals: { route_symbol: :party_members_current_a_z_letter_path, primary_id: @party.graph_id }

%section#content
  .container
    = render partial: 'pugin/cards/person-list', locals: { people: @people, letter: params[:letter] }
