- page_title = title(@party.name) if @party.name.present?

%h1= page_title

- if @party.member_count > 0
  .block
    .list__item
      %h2= link_to("#{t('current')} #{t('members')}", party_members_current_path(@party.graph_id))
      %p= "#{t('current')} #{@party.name} #{t('.party_members')}"

- if @party.member_count == 0
  %p.lead= t('party_no_current_members')
  .block
    .list__item
      %h2= link_to("#{t('former').capitalize} #{@party.name} #{t('members').downcase}", party_members_path(@party.graph_id))
