- title("#{t('party_plural').capitalize} - #{@parliament.date_range(date_format: '%Y')} #{t('parliament')}")
%section.section--primary
  .container
    %h1
      %span= t('party_plural').capitalize
      = link_to "#{@parliament.date_range(date_format: '%Y')} #{t('parliament')}", parliament_path(@parliament.graph_id)

%section#content
  .container
    %ul.list--box
      - @parties.each do |party|
        %li
          .column--75
            .list--details
              %h2= link_to party.name, parliament_house_party_path(@parliament.graph_id,@house.graph_id, party.graph_id)
          .column--25
            .list--details
              %p
                = party.member_count
                %span= t('mp_count', count: party.member_count)
