- page_title = title(t('.title'))

#content.section--primary
  .container
    %h1= page_title
    %p= t('.cookie.definition')

%section
  .container
    %h2= t('.subtitle.ga')
    %p= t('.cookie.explanations.ga')
    %p= t('.cookie.anonymous_statement')

%section
  .container
    %h3= t('.which_cookies')
    %table
      %thead
        %tr
          %th= t('.cookie_table.meta.name')
          %th= t('.cookie_table.meta.purpose')
          %th= t('.cookie_table.meta.expires')
      %tbody
        %tr
          %td _ga
          %td= t('.cookie_table.explanations.ga')
          %td= t('.cookie_table.meta.expiration.years', count: 2)
        %tr
          %td _gat
          %td= t('.cookie_table.explanations.gat')
          %td= t('.cookie_table.meta.expiration.minutes', count: 10)

%section
  .container
    %h2= t('.subtitle.hj')
    %p= t('.cookie.explanations.hj')
    %p= t('.cookie.anonymous_statement')

%section
  .container
    %h3= t('.which_cookies')
    %table
      %thead
        %tr
          %th= t('.cookie_table.meta.name')
          %th= t('.cookie_table.meta.purpose')
          %th= t('.cookie_table.meta.expires')
      %tbody
        %tr
          %td _hjDonePolls
          %td= t('.cookie_table.explanations.hjdonepolls')
          %td= t('.cookie_table.meta.expiration.years', count: 1)
        %tr
          %td _hjMinimizedPolls
          %td= t('.cookie_table.explanations.hjminimizedpolls')
          %td= t('.cookie_table.meta.expiration.years', count: 1)
        %tr
          %td _hjDoneTestersWidgets
          %td= t('.cookie_table.explanations.hjdonetesterswidgets')
          %td= t('.cookie_table.meta.expiration.years', count: 1)
        %tr
          %td _hjMinimizedTestersWidgets
          %td= t('.cookie_table.explanations.hjminimizedtesterswidgets')
          %td= t('.cookie_table.meta.expiration.years', count: 1)
        %tr
          %td _hjIncludedInSample
          %td= t('.cookie_table.explanations.hjincludedinsample')
          %td= t('.cookie_table.meta.expiration.years', count: 1)

%section
  .container
    %h2= t('.managing_cookies.title')
    %p= t('.managing_cookies.subtitle')
    %p= t('.managing_cookies.find_out', link: link_to(t('.managing_cookies.find_out_link'), 'http://www.aboutcookies.org/', target: '_blank')).html_safe
    %p= t('.managing_cookies.opt_out', link: link_to(t('.managing_cookies.opt_out_link', service: 'Google Analytics'), 'https://tools.google.com/dlpage/gaoptout', target: '_blank')).html_safe
    %p= t('.managing_cookies.opt_out', link: link_to(t('.managing_cookies.opt_out_link', service: 'HotJar'), 'https://www.hotjar.com/opt-out', target: '_blank')).html_safe
