%li
  = link_to(constituency.name, constituency_path(constituency.graph_id))
  %ol
    - constituency.seat_incumbencies.each do |seat_incumbency|
      %li
        %p
          = "#{l(seat_incumbency.start_date, format: :default)}" unless seat_incumbency.start_date.nil?
          = " - #{l(seat_incumbency.end_date, format: :default)}" unless seat_incumbency.end_date.nil?
