%li.list__item
  = link_to(house.name, house_path(house.graph_id))
  %ol
    - house.seat_incumbencies.each do |seat_incumbency|
      %li
        = "#{l(seat_incumbency.start_date, format: :default)}" unless seat_incumbency.start_date.nil?
        = " - #{l(seat_incumbency.end_date, format: :default)}" unless seat_incumbency.end_date.nil?
