%li.list__item
  %h2= link_to(seat_incumbency.constituency.name, constituency_path(seat_incumbency.constituency.graph_id))
  %ol
    %li
      = "#{l(seat_incumbency.start_date, format: :default)}" unless seat_incumbency.start_date.nil?
      = seat_incumbency.current? ? " to Present" : " to #{l(seat_incumbency.end_date, format: :default)}"
