%h1= "#{@person.full_name} - #{t('constituencies_title')} #{t('past_present')}"

- unless @constituencies.empty?
  %ol.list
    = render :partial => 'people/constituency', collection: @constituencies

