%h1= "#{@person.full_name} - #{t('constituencies_title')} #{t('past_present')}"

- unless @seat_incumbencies.empty?
  %ol.list
    = render :partial => 'people/seat_incumbency', collection: @seat_incumbencies

