%h1= "#{@person.display_name} - #{t('contact_points_title')}"

- unless @contact_points.empty?
  - @contact_points.each do |contact_point|
    %dl.list__definition
      - if contact_point.email.present?
        %dt= "#{t('email')}:"
        %dd= "#{contact_point.email}"
      - if contact_point.phone_number.present?
        %dt= "#{t('phone')}:"
        %dd= "#{contact_point.phone_number}"
      - if contact_point.fax_number.present?
        %dt= "#{t('fax')}:"
        %dd= "#{contact_point.fax_number}"
      - contact_point.postal_addresses.each do |postal_address|
        - if postal_address.full_address.present?
          %dt= "#{t('address')}:"
          %dd= "#{postal_address.full_address}"
      %dt= "#{t('vcard_download')}"
      %dd= link_to "#{t('download')}", contact_point_path(contact_point.graph_id), target: '_blank'
