%h1
  = @person.full_name

%h2= t('contact_points')
%ul
  - @contact_points.each do |contact_point|
    %li
      %p= "#{t('email')}: #{contact_point.email}" if contact_point.respond_to?(:email)
      %p= "#{t('phone')}: #{contact_point.phoneNumber}" if contact_point.respond_to?(:phoneNumber)
      %ul
        - contact_point.postal_addresses.each do |postal_address|
          %li= postal_address.full_address
