.section--primary
  .container
    %h1= title(t('.title', current: t('current').capitalize, mps_and_lords: t('mps_and_lords')))

    = render partial: 'pugin/components/navigation-letter', locals: { route_symbol: :people_members_current_a_z_letter_path }

    - if FlagHelper.dissolution?
      = render partial: 'shared/dissolution_message'
    - elsif FlagHelper.election?
      = render partial: 'shared/election_message'

%section#content
  .container
    = render partial: "pugin/elements/list", locals: {item_type: "people", data: @people}
