%h1= @person.full_name

- unless @house.nil?
  %h1= t('.title', current: t('current'), house: t('house'))
  %ol
    %li= link_to(@house.name, house_path(@house.graph_id))
    %li= "#{l(@house.seat_incumbencies.first.start_date, format: :default)} - " unless @house.seat_incumbencies.first.start_date.nil?
