%h1= " #{t('.title', people: t('people_title'))} #{t('past_present')}"
= render partial: 'shared/a_to_z', locals: { route_symbol: :people_a_z_letter_path }
= render partial: 'people/member', collection: @people
