.profile-card.spacer__vertical-small
  %h1 #{@person.given_name} #{@person.other_name} #{@person.family_name}
  %p
    =t('.mp_for')
    %a{:href => "#"} Hackney North and Stoke Newington
  %p
    %a{:href => "#"} Labour

.highlight-box
  %p= t('.mp_representative')
  %a{:href => "contact.html"}= t('.who_to_contact')

.contact-list.spacer__vertical-top-small
  %h2.bordered= t('.contact_title')
  - @person.contact_points.each do |contact_point|
    %dl
      %dt= t('.contact_email')
      %dd
        %a{:href => "mailto:#{contact_point.email}"} #{contact_point.email}
      %dt= t('.contact_phone')
      %dd
        %a{:href => "tel:#{contact_point.phone_number}"} #{contact_point.phone_number}
      %dt= t('.contact_address')
        - contact_point.postal_addresses.each do |postal_address|
          %dd postal_address.full_address

%h2.bordered.spacer__vertical-top-small= t('.election_history')
%ol.result-list
  %li.result-list__item
    %ul
      %li
        MP for
        %a{:href => "#"} Hackney North and Stoke Newington
      %li 2015 - Current
      %li
        %a{:href => "#"} Labour
  %li.result-list__item
    %ul
      %li
        MP for
        %a{:href => "#"} Hackney North and Stoke Newington
      %li 1987 - 2015
      %li
        %a{:href => "#"} Labour
