- if party.member_count.nil?
  %li.list__item
    %h2= link_to(party.name, house_parties_party_path(@house.graph_id, party.graph_id))
    = "(#{party.member_count} members)" unless party.member_count.nil?
- else
  %li.list__item
    .column__float--left-80
      %h2= link_to(party.name, house_parties_party_path(@house.graph_id, party.graph_id))
      - if party.name === "Speaker"
        %p= "#{t('house_of_commons_speaker')}"
      - else
        %p= "#{t('view_all')} #{t('current')} #{party.name} #{HousesHelper.commons?(@house) ? t('mp_plural') : t('lord_plural')}"
    .column__float--right-20
      %p
        = party.member_count
        %span
          = HousesHelper.commons?(@house) ? t('mp_count', count: party.member_count) : t('lord_count', count: party.member_count)
