%li.list__item
  %h2= link_to(party_member.full_name, person_path(party_member.graph_id))
  %ul
    - party_member.party_memberships.sort{ |mem_a, mem_b| mem_b.send(:start_date) <=> mem_a.send(:start_date) }.each do |party_membership|
      %li
        = "#{l(party_membership.start_date, format: :default)}" unless party_membership.start_date.nil?
        = party_membership.end_date.nil? ? " - Present" : " - #{l(party_membership.end_date, format: :default)}"
        /= seat_incumbency.end_date.nil? ? " - Present" : " - #{l(seat_incumbency.end_date, format: :default)}"
