- title "#{@house.name} - #{@party.name} #{t('.title', current: t('current'), members: t('members'))}"

%h1= "#{@house.name} - #{@party.name} #{t('.title', current: t('current'), members: t('members'))}"

= render partial: 'shared/iid_id_a_to_z', locals: { route_symbol: :house_parties_party_members_current_a_z_letter_path, id: @house.graph_id, iid: @party.graph_id}

-if @people.empty?
  = render partial: 'shared/empty_list', locals: {title: nil, description: t('no_content.empty_list.constituencies.description', letter: params[:letter].upcase)}
-else
  = render partial: 'pugin/cards/person-list', locals: { people: @people, letter: params[:letter] }

.block
  %p= link_to(t('past_and_present_members'), house_parties_party_members_a_z_letter_path(@house.graph_id, @party.graph_id, 'a'))
