- if HousesHelper.commons?(@house)
  - page_title = title("#{@party.name} - #{t('.title', current: t('current').capitalize, member_type: t('mp_plural'))}")
- if HousesHelper.lords?(@house)
  - page_title = title("#{@party.name} - #{t('.title', current: t('current').capitalize, member_type: t('lord_plural'))}")

%h1= page_title

= render partial: 'pugin/components/letter-navigation', locals: { route_symbol: :house_parties_party_members_current_a_z_letter_path, primary_id: @house.graph_id, secondary_id: @party.graph_id}
= render partial: 'pugin/cards/person-list', locals: { people: @people, letter: params[:letter] }

%p= link_to("#{t('view_all').capitalize} #{t('current_and_former')} #{t('member_plural')}", house_parties_party_members_a_z_letter_path(@house.graph_id, @party.graph_id, 'a'))
