- if HousesHelper.commons?(@house)
  - page_title = title("#{@house.name} - #{t('.title', current: t('current'), members: t('mps'))}")
- else
  - page_title = title("#{@house.name} - #{t('.title', current: t('current'), members: t('lords'))}")

- if HousesHelper.commons?(@house)
  %h1= t('.title', current: t('current'), members: t('mps'))
- if HousesHelper.lords?(@house)
  %h1= t('.title', current: t('current'), members: t('lords'))

= render partial: 'shared/id_a_to_z', locals: { route_symbol: :house_members_current_a_z_letter_path, id: @house.graph_id}
= render partial: 'pugin/cards/person-list', locals: { people: @people }

.block
  - if HousesHelper.commons?(@house)
    %p= link_to(t('houses.show.mps'), house_members_a_z_letter_path(@house.graph_id, 'a'))
    %p= link_to(t('houses.show.members_all_lords'), house_members_current_a_z_letter_path(HousesHelper.lords_id, 'a'))

  - if HousesHelper.lords?(@house)
    %p= link_to(t('houses.show.lords'), house_members_a_z_letter_path(@house.graph_id, 'a'))
    %p= link_to(t('houses.show.members_all_commons'), house_members_current_a_z_letter_path(HousesHelper.commons_id, 'a'))
