%h1= @house.name
%h3= t('.title', current: t('current'), members: t('members'))
%ul.people-list
  - @people.each do |person|
    %li
      %p= link_to(person.full_name, person_path(person.graph_id))
      %p= link_to(person.constituencies.first.name, constituency_path(person.constituencies.first.graph_id)) unless person.constituencies.empty?
      %p= link_to(person.parties.first.name, party_path(person.parties.first.graph_id)) unless person.parties.empty?
