- page_title = title("#{t('.title', current: t('current'), parties: t('parties_title'))} - #{@house.name}")

%h1= page_title

.block
  .link__tab
    - if HousesHelper.commons?(@house)
      .link__tab--item.active
        %p= t('commons')
    - else
      .link__tab--item
        = link_to(t('commons'),house_parties_current_path(HousesHelper.commons_id))
    - if HousesHelper.lords?(@house)
      .link__tab--item.active
        %p= t('lords')
    - else
      .link__tab--item
        = link_to(t('lords'),house_parties_current_path(HousesHelper.lords_id))

%ul.list
  = render :partial => 'houses/party', collection: @parties

.block
  %p= link_to(t('current_and_former_parties') + " - #{@house.name}", house_parties_path(@house.graph_id))
