- if HousesHelper.commons?(@house)
  - page_title = title(t('.title', members: t('mps'), current_and_former_2: t('current_and_former_2')))
- else
  - page_title = title(t('.title', members: t('lords'), current_and_former_2: t('current_and_former_2')))

%h1= page_title

= render partial: 'shared/id_a_to_z', locals: { route_symbol: :house_members_a_z_letter_path, id: @house.graph_id }
= render partial: 'pugin/cards/person-list', locals: { people: @people }

.block
  - if HousesHelper.commons?(@house)
    %p= link_to(t('members_hol'), house_members_a_z_letter_path(HousesHelper.lords_id, 'a'))

  - if HousesHelper.lords?(@house)
    %p= link_to(t('members_commons'), house_members_a_z_letter_path(HousesHelper.commons_id, 'a'))

  %p= link_to(t('past_and_present_members'), house_members_a_z_letter_path(@house.graph_id, 'a'))
