- if @house.graph_id == @commons_id
  - page_title = title("#{@house.name} - #{t('.title', members: t('mps'))} #{t('past_present')}")
- else
  - page_title = title("#{@house.name} - #{t('.title', members: t('lords'))} #{t('past_present')}")

%h1= page_title

= render partial: 'shared/id_a_to_z', locals: { route_symbol: :house_members_a_z_letter_path, id: @house.graph_id}
%ul.list
  = render partial: 'pugin/cards/person-list', locals: { people: @people }

.block
  - if @house.name == 'House of Commons'
    %p= link_to(t('members_hol'), house_members_a_z_letter_path(@lords_id, 'a'))
  - if @house.name == 'House of Lords'
    %p= link_to(t('members_commons'), house_members_a_z_letter_path(@commons_id, 'a'))
  %p= link_to(t('past_and_present_members'), house_members_a_z_letter_path(@house.graph_id, 'a'))



