%h1= @house.name
%h3= t('.title', members: t('members'))
%ul.people-list
  - @people.each do |person|
    %li
      = link_to(person.full_name, person_path(person.graph_id))
      %ul
        - person.seat_incumbencies.each do |seat_incumbency|
          %li
            = "#{l(seat_incumbency.start_date, format: :default)}" unless seat_incumbency.start_date.nil?
            = " - #{l(seat_incumbency.end_date, format: :default)}" unless seat_incumbency.end_date.nil?
