- if @house.graph_id == @commons_id
  %h1= "#{@house.name} - #{t('.title', members: t('mps'))} #{t('past_present')}"
- else
  %h1= "#{@house.name} - #{t('.title', members: t('lords'))} #{t('past_present')}"

= render partial: 'shared/id_a_to_z', locals: { route_symbol: :house_members_a_z_letter_path, id: @house.graph_id}
%ul.list
  = render partial: 'pugin/cards/person-list', locals: { people: @people }

.block
  - if @house.name == 'House of Commons'
    %p= link_to(t('members_hol'), house_members_a_z_letter_path(@lords_id, 'a'))
  - if @house.name == 'House of Lords'
    %p= link_to(t('members_commons'), house_members_a_z_letter_path(@commons_id, 'a'))
