- page_title = title("#{@party.name} - #{@house.name}")

%h1= page_title

- if @party.member_count > 0
  .block
    .list__item
      - if HousesHelper.commons?(@house)
        %h2= link_to("#{t('current')} #{@party.name} #{t('mps')}", house_parties_party_members_current_path(@house.graph_id, @party.graph_id))
      - if HousesHelper.lords?(@house)
        %h2= link_to("#{t('current')} #{@party.name} #{t('lords')}", house_parties_party_members_current_path(@house.graph_id, @party.graph_id))
      %p= "#{t('view_all_current')} #{@party.name} #{t('.party_members')}"

- if @party.member_count == 0
  %p.lead= t('party_no_current_members_house')
  .block
    .list__item
      %h2= link_to(t('past_members'), house_parties_party_members_path(@house.graph_id, @party.graph_id))
      %p= "#{t('.past')} #{@party.name} #{t('.party_members')}"
