- page_title = title("#{@house.name} - #{t('parties_title')} #{t('past_present')}")

%h1= page_title
.block
  .link__tab
    -if @house.name == "House of Commons"
      .link__tab--item.active
        %p= t('commons')
    - else
      .link__tab--item
        = link_to(t('commons'),house_parties_path(@commons_id))
    -if @house.name == "House of Lords"
      .link__tab--item.active
        %p= t('lords')
    - else
      .link__tab--item
        = link_to(t('lords'),house_parties_path(@lords_id))
%ul.list
  = render :partial => 'houses/party', collection: @parties

