- page_title = title("#{@house.name} - #{@party.name} #{t('.title', members: t('members'))} #{t('past_present')}")

%h1= page_title

/= render partial: 'shared/iid_id_a_to_z', locals: { route_symbol: :house_parties_party_members_a_z_letter_path, id: @house.graph_id, iid: @party.graph_id}
= render partial: 'pugin/components/letter-navigation', locals: { route_symbol: :house_parties_party_members_a_z_letter_path, primary_id: @house.graph_id, secondary_id: @party.graph_id }

= render partial: 'pugin/cards/person-list', locals: { people: @people, letter: params[:letter] }
