%h1= @house.name
.block
  .list__item
    - if @house.graph_id == @commons_id
      %h2= link_to("#{t('current')} #{t('mps')}", house_members_current_a_z_letter_path(@house.graph_id, 'a'))
    - else
      %h2= link_to("#{t('current')} #{t('lords')}", house_members_current_a_z_letter_path(@house.graph_id, 'a'))
    %p= "#{t('.members')} #{@house.name}."
.block
  .list__item
    %h2= link_to("#{t('current')} #{t('parties_title')}", house_parties_current_path(@house.graph_id))
    %p= "#{t('.parties')} #{@house.name}."

