%h1= @house.name

%h2= link_to("#{t('current')} #{t('members')}", house_members_current_a_z_letter_path(@house.graph_id, 'a'))
%h2= link_to("#{t('current')} #{t('parties_title')}", house_parties_current_path(@house.graph_id))

