- page_title = title(@house.name)

%h1= page_title

.block
  .list__item
    - if HousesHelper.commons?(@house)
      %h2= link_to("#{t('current').capitalize} #{t('mp_plural')}", house_members_current_a_z_letter_path(@house.graph_id, 'a'))
    - else
      %h2= link_to("#{t('current').capitalize} #{t('lord_plural')}", house_members_current_a_z_letter_path(@house.graph_id, 'a'))
    %p= "#{t('view_all').capitalize} #{t('current')} #{t('member_plural')} #{t('of_the')} #{@house.name}."

- if HousesHelper.commons?(@house)
  .block
    .list__item
      %h2= link_to("#{t('current').capitalize} #{t('parties_and_groups')}", house_parties_current_path(@house.graph_id))
      %p= "#{t('view_all').capitalize} #{t('parties_and_groups')} #{t('in_the')} #{@house.name}."
-else
  .block
    .list__item
      %h2= link_to("#{t('current').capitalize} #{t('parties_and_groups')}", house_parties_current_path(@house.graph_id))
      %p= "#{t('view_all').capitalize} #{t('parties_and_groups')} #{t('in_the')} #{@house.name}."

- if HousesHelper.commons?(@house)
  .block
    .list__item
      %h2= link_to("#{t('current').capitalize} #{t('constituency_plural')}", constituencies_current_a_z_letter_path('a'))
      %p= "#{t('find').capitalize} #{t('current')} #{t('mp_plural')} #{t('.area_they_represent')}."
