- title("#{@party.name} - #{t('mp_plural')} - #{@parliament.date_range(date_format: '%Y')} #{t('parliament')} #{t('parliaments.a_to_z')}")
#content.section--primary
  .container
    %h1
      %span= "#{@party.name} - #{t('mp_plural')}"
      = link_to "#{@parliament.date_range(date_format: '%Y')} #{t('parliament')}", parliament_path(@parliament.graph_id)
      %span= "#{t('parliaments.a_to_z')} - #{t('a_to_z.select_letter')}"

    = render partial: 'pugin/components/navigation-letter', locals: { route_symbol: :parliament_house_party_members_a_z_letter_path, route_args: [@parliament.graph_id, @house.graph_id, @party.graph_id] }
