- title("#{@party.name} - #{t('mp_plural')} - #{@parliament.date_range(date_format: '%Y')} #{t('parliament')}")
.section--primary
  .container
    %h1
      %span= "#{@party.name} - #{t('mp_plural')}"
      = link_to "#{@parliament.date_range(date_format: '%Y')} #{t('parliament')}", parliament_path(@parliament.graph_id)

%section#content
  .container
    %ul.list--box
      %li
        .list--details
          %h2= link_to "A-Z", parliament_house_party_members_a_z_path(@parliament.graph_id, @house.graph_id, @party.graph_id)
          %p= t('parliaments.find_mp_a_to_z')
