.block
  %p.lead
    A to Z -
    = params[:letter].present? ? "Showing results for #{params[:letter].capitalize}" : 'select a letter'
  %nav{ aria:{ label: t('a_to_z.aria_label') } }
    %ul.navigation__letter
      - ('a'..'z').each do |letter|
        %li{ data: { letter: letter }, class: ('active' if (params[:letter] == letter)) }
          - if @letters.include?(letter.upcase)
            = link_to(send(route_symbol, id, letter), data: { 'atoz-see': 'true' } ) do
              = letter
          - else
            = letter
