- if party.member_count.nil?
  %li
    .list--details
      %h2= link_to(party.name, house_parties_party_members_current_path(@house.graph_id, party.graph_id))
      = "(#{party.member_count} members)" unless party.member_count.nil?
- else
  %li
    .column--75
      .list--details
        %h2= link_to(party.name, house_parties_party_members_current_path(@house.graph_id, party.graph_id))
        - if party.name === "Speaker"
          %p= "#{t('house_of_commons_speaker')}"
        - else
          %p= "#{t('view_all').capitalize} #{t('current')} #{party.name} #{HousesHelper.commons?(@house) ? t('mp_plural') : t('lord_plural')}"
    .column--25
      .list--details
        %p
          = party.member_count
          %span
            = HousesHelper.commons?(@house) ? t('mp_count', count: party.member_count) : t('lord_count', count: party.member_count)
