- title("#{@house.name} - #{t('current_and_former').capitalize} #{t('parties_and_groups')}")

#content.section--primary
  .container

    %h1= "#{t('current_and_former').capitalize} #{HousesHelper.commons?(@house) ? t('party_plural') : t('parties_and_groups')}"

%section
  .container

    %ul.list--tab
      - if HousesHelper.commons?(@house)
        %li.active
          = t('commons')
      - else
        %li
          = link_to(t('commons'),house_parties_path(HousesHelper.commons_id))
      - if HousesHelper.lords?(@house)
        %li.active
          = t('lords')
      - else
        %li
          = link_to(t('lords'),house_parties_path(HousesHelper.lords_id))

    %ol.list--box
      = render partial: 'houses/parties/party', collection: @parties
