%p= @constituency.current? ? "#{t('current').capitalize} #{t('constituency')}" : "#{t('former').capitalize} #{t('constituency')}"
%p
  = "#{t('from').capitalize} #{l(@constituency.start_date, format: :default)}" unless @constituency.start_date.nil?
  = @constituency.end_date.nil? ? t('to_present') : " #{t('to')} #{l(@constituency.end_date, format: :default)}"

- if !@current_incumbency.nil?
  %h2= "#{t('current').capitalize} #{t('mp')}"
  .list
    .list__item--secondary
      %h3= link_to @current_incumbency.member.display_name, person_path(@current_incumbency.member.graph_id)
      %p
        = "#{l(@current_incumbency.start_date, format: :default)} #{t('to_present')}" unless @current_incumbency.start_date.nil?

- if @constituency.current?
  - if @postcode
    - if @postcode_constituency.correct?
      %p= t('.correct_constituency')
    - else
      %p
        = t('.incorrect_constituency')
        = "#{link_to(@postcode_constituency.name, constituency_path(@postcode_constituency.graph_id))} #{t('.constituency_for_postcode')}".html_safe
  - else
    %h3= t('.check_constituency')

    = render partial: 'postcodes/postcode_lookup', locals: { path: constituency_path(@constituency.graph_id) }

- if @seat_incumbencies.size > 0
  %h2= "#{t('former').capitalize} #{t('mp_plural')}"
  %ul.list
    - @seat_incumbencies.each do |seat_incumbency|
      - if !seat_incumbency.current?
        %li.list__item--secondary
          %h3= link_to seat_incumbency.member.display_name, person_path(seat_incumbency.member.graph_id)
          %p
            = "#{l(seat_incumbency.start_date, format: :default)}" unless seat_incumbency.start_date.nil?
            = seat_incumbency.current? ? t('to_present') : " #{t('to')} #{l(seat_incumbency.end_date, format: :default)}"
