- if @constituencies.empty?
  = render partial: 'shared/empty_list', locals: { title: nil, description: t('no_content.empty_list.constituencies.description', letter: params[:letter].upcase)}
- else
  %ul.list--box
    - @constituencies.each do |constituency|
      %li
        .list--details
          %h2= link_to(constituency.name, constituency_path(constituency.graph_id))
          - if constituency.members.empty?
            %p= t('constituencies.shared_translations.vacant').capitalize
          - else
            %p= "#{constituency.members.first.display_name} #{t('mp')}"
