.section--primary
  .container
    %h1= title(t('.title', current: t('current').capitalize, constituency: t('constituency_plural')))

    %h3= t('postcodes.find_mp_constituency')
    = render partial: 'postcodes/postcode_lookup', locals: { path: postcodes_lookup_path }
    = render partial: 'pugin/components/letter-navigation', locals: { route_symbol: :constituencies_current_a_z_letter_path }
    = render partial: 'shared/dissolution_message'
%section#content
  .container
    = render 'constituencies/current_constituencies'

.block
  %p= link_to("#{t('all').capitalize} #{t('current_and_former')} #{t('constituency_plural')}", constituencies_path)
