%h2= @constituency.name
%h3= t('.title', current: t('current'), member: t('member'))

%p= @constituency.start_date
%p= @constituency.end_date

= link_to @seat_incumbency.member.full_name, person_path(@seat_incumbency.member.graph_id)
%p= "#{l(@seat_incumbency.start_date, format: :default)} - " unless @seat_incumbency.start_date.nil?

