%h1= t('.title')
.block
  %p= t('.content')
%h3= t('.beta-label')
.block
  %p= t('.beta-label-text-1')
  %p= t('.beta-label-text-2')
  %p= t('.beta-label-text-3')
%h3= t('.feedback')
.block
  %p= t('.feedback-text', feedbacklink: link_to(t('.links.feedback'), 'https://ukparliament-self.achieveservice.com/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-032e1b1d-958f-4402-9ab2-97a38ed9b899/AF-Stage9b7ecae8-0c85-4ee7-afda-b256cffe5f08/definition.json&redirectlink=%2F&cancelRedirectLink=%2F&category=AF-Category-48936b5c-9329-48c7-a0a5-563463aacadf')).html_safe

%h3= t('.current-beta-pages')
.block
  %p= t('.beta-pages-text-1')
  %p= t('.beta-pages-text-2')
  %p= t('.beta-pages-text-3', current_mps: link_to(t('.links.current_mps'), people_members_current_a_z_letter_path('a'))).html_safe
%h3= link_to t('.links.commons', commons: t('commons')), house_path('c2d41b82-d4df-4f50-b0f9-f52b84a6a788')
%ul.list
  %li= link_to t('.links.members', members: t('members')), house_members_current_a_z_letter_path('c2d41b82-d4df-4f50-b0f9-f52b84a6a788', 'a')
  %li= link_to t('.links.parties', parties: t('parties_title')), house_parties_current_path('c2d41b82-d4df-4f50-b0f9-f52b84a6a788')
  %li= link_to t('.links.constituencies', constituencies: t('constituencies_title')), constituencies_current_a_z_letter_path('a')
%h3= link_to t('.links.lords', lords: t('lords')), house_path('cdf477be-7bb3-4f19-bf63-b837795e37eb')
%ul.list
  %li= "#{t('.links.members', members: t('members'))} - #{t('coming_soon')}"
  %li= "#{t('.links.parties', parties: t('parties_title'))} - #{t('coming_soon')}"

