%h1= t('.title')
.block
  %p= t('.content')
%h3= t('.beta-label')
.block
  %p= t('.beta-label-text-1')
  %p= t('.beta-label-text-2')
  %p= t('.beta-label-text-3')
%h3= t('.feedback')
.block
  %p= t('.feedback-text', feedbacklink: link_to(t('.links.feedback'), root_path)).html_safe
%h3= t('.current-beta-pages')
.block
  %p= t('.beta-pages-text-1')
  %p= t('.beta-pages-text-2')
  %p= t('.beta-pages-text-3', current_mps: link_to(t('.links.current_mps'), people_members_current_path)).html_safe
%h3= link_to t('.links.people', people: t('people_title')), people_path
