.section--primary
  .container
    %h1= title(t('mp_plural'))

- if FlagHelper.dissolution?
  %section
    .container
      = render partial: 'shared/dissolution_message'
- elsif FlagHelper.election?
  %section
    .container
      = render partial: 'shared/election_message'
- else
  %section#content
    .container
      .block--border__bottom
        .inner-container--focus
          %h2= t('.find_mp')
          = render partial: 'postcodes/postcode_lookup', locals: { path: postcodes_lookup_path }
          = link_to t('.view_list_constituencies'), constituencies_current_a_z_letter_path('a')
        %ol.list--box
          %li
            .list--details
              %h2= link_to t('.a_z_surname'), house_members_current_a_z_letter_path(HousesHelper.commons_id, 'a')
              %p= "#{t('view_all').capitalize} #{t('mp_plural')}."
  %section
    .container
      .block--border__bottom
        %h2= t('party_plural').capitalize
        %p= t('.find_mp_party')
        %ul.list--inline__box
          - @parties.each do |party|
            - unless party.name == "Speaker" # Exclude speaker from list
              %li
                .list--details
                  %h3= link_to(party.name, house_parties_party_members_current_a_z_letter_path(HousesHelper.commons_id,party.graph_id, 'a'))
                  %p= "- #{party.member_count} #{t('mp_count', count: party.member_count)}"
        %p= t('.speaker_clarification', speaker_link: link_to(t('.the_speaker'), person_path(@speaker.first.graph_id))).html_safe

%section
  .container
    .block--border__bottom
      %h2= "#{t('former').capitalize} #{t('mp_plural')}"
      %p= t('.find_mp_date_range')
      %ul.list--box
        - @parliaments.each do |parliament|
          %li
            .list--details
              %h3= link_to "#{parliament.date_range(date_format: '%Y')} #{t('parliament').capitalize}", parliament_members_a_z_letter_path(parliament.graph_id, 'a')
        %li
          %h3= link_to "#{t('view_all').capitalize} #{t('parliament_plural').capitalize}", parliaments_path
