- title("#{@house.name} - #{@parliament.date_range(date_format: '%Y')} #{t('parliament')}")
%section.section--primary
  .container
    %h1
      %span= @house.name
      = link_to "#{@parliament.date_range(date_format: '%Y')} #{t('parliament')}", parliament_path(@parliament.graph_id)

%section#content
  .container
    %ul.list--block
      %li
        .list--details
          %h2= link_to "#{t('mp_plural')}", parliament_house_members_path(@parliament.graph_id, @house.graph_id)
      %li
        .list--details
          %h2= link_to "#{t('party_plural').capitalize}", parliament_house_parties_path(@parliament.graph_id, @house.graph_id)
