#content.section--primary
  .container
    %h1= title("#{@person.display_name} - #{t('.title', current: t('current').capitalize, party: t('party'))}")

- unless @party.nil?
  %section
    .container
      %ul.list--box
        %li
          .list--details
            %h2= link_to(@party.name, party_path(@party.graph_id))
            %p= @party.party_memberships.first.date_range
