
- license_link = "https://creativecommons.org/licenses/by/3.0/"

.section--primary#content
  .container
    .block--border__bottom
      %h1= title("#{t('.title').capitalize} #{@person.display_name}")
      - if @image.graph_id
        %figure
          %img{ src: "#{ENV['IMAGE_SERVICE_URL']}/#{@image.graph_id}.jpeg?width=1464&quality=90", alt: "#{@person.display_name}" }
          %figcaption
            = "#{t('.title').capitalize}"
            = link_to(@person.display_name, person_path(@person.graph_id))

        %p= t('.license', link: link_to(t('.license_link'), 'https://creativecommons.org/licenses/by/3.0/', target: '_blank', title: t('open_new_window'))).html_safe

        %p= t('.license_context', link: link_to(t('.license_context_link'), 'https://creativecommons.org/licenses/by/3.0/', target: '_blank', title: t('open_new_window'))).html_safe

        = link_to(t('.download_jpeg').capitalize + ' ' + t('.download_res_original'), "#{ENV['IMAGE_SERVICE_URL']}/#{@image.graph_id}.jpeg?download=true", class: 'btn--primary')

      - else
        .highlight--box.highlight--caution__soft
          %p= t('.no_portrait')


- if @image.graph_id
  .section
    .container
      %h2= t('.portraits_heading')
      %ol.list--pipe
        %li
          %figure
            %img{ src: "#{ENV['IMAGE_SERVICE_URL']}/#{@image.graph_id}.jpeg?crop=MCU_3:2&width=260&quality=80?download=true", alt: "#{@person.display_name}" }
          .list--details
            %h3= t('.download_heading_1')
            = link_to(t('.download_jpeg').capitalize + ' ' + t('.download_res_wide_portrait'), "#{ENV['IMAGE_SERVICE_URL']}/#{@image.graph_id}.jpeg?crop=MCU_3:2&quality=80&download=true", class: 'btn--primary', download: '')
        %li
          %figure
            %img{ src: "#{ENV['IMAGE_SERVICE_URL']}/#{@image.graph_id}.jpeg?crop=MCU_3:4&width=260&quality=80", alt: "#{@person.display_name}" }
          .list--details
            %h3= t('.download_heading_2')
            = link_to(t('.download_jpeg').capitalize + ' ' + t('.download_res_portrait'), "#{ENV['IMAGE_SERVICE_URL']}/#{@image.graph_id}.jpeg?crop=MCU_3:4&quality=80&download=true", class: 'btn--primary', download: '')
        %li
          %figure
            %img{ src: "#{ENV['IMAGE_SERVICE_URL']}/#{@image.graph_id}.jpeg?crop=CU_1:1&width=260&quality=80", alt: "#{@person.display_name}" }
          .list--details
            %h3= t('.download_heading_3')
            = link_to(t('.download_jpeg').capitalize + ' ' + t('.download_res_thumbnail'), "#{ENV['IMAGE_SERVICE_URL']}/#{@image.graph_id}.jpeg?crop=CU_1:1&quality=80&download=true", class: 'btn--primary', download: '')
