%h2= "Parties between #{@parliament.date_range(date_format: '%Y')}"

%ul
  - @parties.each do |party|
    %li= link_to "#{party.name} - #{party.count}", parliament_party_path(@parliament.graph_id, party.graph_id)
