%section.section--primary
  .container
    %h1= title("#{@parliament.date_range(date_format: '%Y')} #{t('parliament')}")

    = link_to("#{t('view_all').capitalize} #{t('parliament_plural')}", parliaments_path)
    /= link_to('Next Parliament', parliament_next_path(@parliament.graph_id)) if @parliament.next_parliament?
    /= link_to('Previous Parliament', parliament_previous_path(@parliament.graph_id))

%section#content
  .container
    %ul.list--box
      %li
        .list--details
          %h2= link_to "#{t('mp_plural')}", parliament_members_path(@parliament.graph_id)
      %li
        .list--details
          %h2= link_to "#{t('party_plural').capitalize}", parliament_parties_path(@parliament.graph_id)
      %li
        .list--details
          %h2= link_to "#{t('constituency_plural').capitalize}", parliament_constituencies_path(@parliament.graph_id)
