.section--primary
  .container
    %h1= title("#{@party.name} - #{t('.title', current_and_former: t('current_and_former').capitalize, member_type: @current_person_type)}")

    = render partial: 'pugin/components/navigation-letter', locals: { route_symbol: :house_parties_party_members_a_z_letter_path, route_args: [@house.graph_id, @party.graph_id]}

%section#content
  .container
    = render partial: "pugin/elements/list", locals: {item_type: "people", data: @people}
